# Ignorar completamente as pastas abaixo
/documentos/kidopi_testes/
/www/
/dump/
/logs/
/mongo/
/www/CleverCare/
/www/saudecorp/
/www/gplc/

# Ignorar arquivo de variáveis de ambiente
.env

# Ignorar configurações de IDE e editores
.vscode/
documentos/.obsidian/
www/.vscode/